{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsReservable</th>
                <th>IsMan</th>
                <th>IsWoman</th>
                <th>IsChild</th>
                <th>IsElectric</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.label }}</td>
                <td>{{ product.isReservable ? 'Yes' : 'No' }}</td>
                <td>{{ product.isMan ? 'Yes' : 'No' }}</td>
                <td>{{ product.isWoman ? 'Yes' : 'No' }}</td>
                <td>{{ product.isChild ? 'Yes' : 'No' }}</td>
                <td>{{ product.isElectric ? 'Yes' : 'No' }}</td>
                <td>{{ product.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-sm btn-primary">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-sm btn-primary">edit</a>
                    <div class="btn-group">
                        <form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
